.main {
  background-color: rgb(192, 194, 196);
}

.header {
  font-style: italic;
  font-size: large;
}

a {
  color: black;
}

a:visited {
  color: blueviolet;
}

a:hover {
  color: red;
}

p {
  font-style: italic;
}
